*{
  box-sizing: border-box;
}
body{
    display:flex
}
.nav{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: cadetblue;
  border-radius: 2px;
  padding:10px;
}
.main{
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  background-color: cadetblue;
  margin: 0 0 0 1px;
  border-radius: 2px;
  padding: 10px;
}

h3{
  color:whitesmoke;
  background-color: #44655b;
  margin: 0;
  padding: 7px;
  text-align: center;
}